@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

.booking-section {
  text-align: center;
  margin-bottom: 30px;
}

.book-appointment {
  padding: 12px 24px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.appointment {
    height: 200px;
    background-color: grey;
    border: 5px solid black;
    border-radius: 35px;
    padding: 20px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* Booking page wrapper */
.bed-form {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hide default radio buttons */
.bed-selector input[type="radio"] {
  display: none;
}

/* Bed selector container */
.bed-selector {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: #d9d9d9;
  border-radius: 25px;
  padding: 40px;

  max-width: 900px;
  width: 100%;
  height: 400px;

  margin: 40px auto;
}

/* Individual bed */
.bed {
  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;
  opacity: 0.5;
  transition: all 0.2s ease;
}

/* Bed icon */
.bed img {
  width: 40px;
  height: 40px;
}

/* Bed text */
.bed span {
  margin-top: 8px;
  font-size: 14px;
}

/* Hover effect */
.bed:hover {
  opacity: 0.8;
}

/* Selected bed */
/* Hide radio buttons */
.bed-selector input[type="radio"] {
  display: none;
}

/* Selected bed */
.bed-selector input[type="radio"]:checked + label {
  opacity: 1;
  transform: scale(1.1);
}
 

/* Bottom booking bar */
.appointment-form {
  position: sticky;
  bottom: 0;

  background-color: #bff0f2;
  padding: 20px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Inputs */
.appointment-form input {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* Button */
.appointment-form button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;

  background-color: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* Disabled button */
.appointment-form button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


